* {
box-sizing: border-box;	
}

html {
	display: block;
	
}

body{
	Font-Family: 'Cabin', Sans-Serif;
	Font-Size: 16px;
	height: 100%;
	margin: 0;
	background:#EFEFEF;
}

a {
    color: #3F5765;
}

a:link {

    text-decoration: none;
}

h1{
	Font-Family: 'Roboto Condensed', Sans-Serif;
	Font-Size: 35px;
	color: #FF530D;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

h2{
	Font-Family: 'Roboto Condensed', Sans-Serif;
	Font-Size: 25px;
	color: #2B3A42
}

ul
{
list-style-type: none;
}

.intro{
	padding: 15%;
	height: 100%;
	background: url("https://i.imgur.com/YQsCxww.jpg?1") fixed;
	text-align: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	font-size: 36px;	
}

#introDisplay {
	background-color: rgba(0,0,0,0.7);
	padding-top: 40px;
	padding-bottom: 40px;
	/*width: 60%;*/
	margin: auto;
}

#form{
	margin: auto;
	width: 90%;
	max-width: 855px;
	display: none;
	text-align: center;
	padding-top: 30px;
}

fieldset {
border: #FF530D 1px solid; 
border-radius: 5px;
padding: 15px 32px;
text-align: center;
margin: auto;
}


.js-search-results {
	margin: auto;
	width: 75%;
	text-align: center;
}

input[type=text], select {
    width: 160px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


#button, #button1{
	background-color: #3F5765;
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
#button:hover,#button1:hover {
	background: rgba(14, 4, 4, 0.8);
}

#button1 {
	background-color: rgb(41, 59, 70);
	margin-top: 30px;
	padding: 15px 32px;
	font-size: 18px;
}

.eventList {
	text-align: left;
	width: 68%;
	margin: auto;
	background: #fff;
	border-radius: 2px;
	display: inline-block;
	min-height: 350px;
	margin: 1rem;
	padding: 20px;
	position: relative;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@media screen and (max-width: 800px) {
    .eventList { 
		width: 90%;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 100ch;
	}
}
	
@media screen and (max-width: 610px) {
	.eventList { 
		width: 90%;
		overflow: hidden;
		text-overflow: ellipsis;
			
	}
}   

@media screen and (max-width: 414px){
	#fieldset {
	
	}
}
